@font-face {
  font-family: "Pokemon GB";
  src: url("./assets/fonts/Pokemon GB.woff") format("woff");
  src: url("./assets/fonts/Pokemon GB.ttf") format("truetype");
}

@font-face {
  font-family: "Press Start 2P";
  src: url("./assets/fonts/PressStart2P-Regular.woff") format("woff");
  src: url("./assets/fonts/PressStart2P-Regular.ttf") format("truetype");
}


:root {
  font-family: Press Start 2P;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  box-sizing: border-box;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --retro-cursor: url("./assets/retroCursor.png"), auto;
  --retro-pointer-cursor: url("./assets/retroPointerCursor.png"), pointer;
}

body {
  font-size: 16px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  letter-spacing: normal;
  line-height: 24px;
  text-align: center;
  text-indent: 0px;
  text-transform: none;
  vertical-align: middle;
  white-space: normal;
  word-spacing: 0px;

  /*Background & Pointer*/
  background-image: url('./assets/Background.gif');
  background-size: 100% 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  cursor: var(--retro-cursor);

  /* Box */
  margin: 0px;
  max-height: none;
  min-height: 0px;
  max-width: none;
  min-width: 0px;
  /* Positioning */
  position: relative;
  top: 0px;
  bottom: 0px;
  /* Table */
  border-collapse: separate;
  border-spacing: 0px 0px;
  caption-side: top;
  empty-cells: show;
  table-layout: auto;
  /* Effects */
  transform: none;
  transition: all 0s ease 0s;
  outline-offset: 0px;
  box-sizing: border-box;
  resize: none;
  text-shadow: none;
  text-overflow: clip;
  display: 'flex';
  word-wrap: normal;
  box-shadow: rgba(0, 107, 179, 0.3) 0px 0px 0px 6px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

h1 {
  font-size: 60px;
  font-weight: 700;
  line-height: 48px;
  text-decoration: none solid rgb(33, 37, 41);
  word-spacing: 0px;
  margin: 0 0 8px 0;
  display: flex;
  transform: none;
  transition: all 0s ease 0s;
}

button, .button {
  position: relative;
  font-family: "Pokemon GB";
  font-size: 1em;
  background: none;
  border: none;
  color: #e75a10;
  padding: 0 0 0 1em;
  text-transform: uppercase;
  text-align: left;
  text-shadow: -1px -1px 0 rgb(255, 255, 255), 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
  cursor: url("./assets/retroPointerCursor.png"), pointer;

}

button:hover::before, .button:hover::before {
  content: "";
  position: absolute;
  top: 0;
  left: -2px;
  width: 2px;
  height: 2px;
  font-size: 2px;
  color: #181010;
  box-shadow: 1em 0em 0 #e75a10, 2em 0em 0 #e75a10, 1em 1em 0 #e75a10, 2em 1em 0 #e75a10, 3em 1em 0 #e75a10, 1em 2em 0 #e75a10, 2em 2em 0 #e75a10, 3em 2em 0 #e75a10, 4em 2em 0 #e75a10, 1em 3em 0 #e75a10, 2em 3em 0 #e75a10, 3em 3em 0 #e75a10, 4em 3em 0 #e75a10, 5em 3em 0 #e75a10, 1em 4em 0 #e75a10, 2em 4em 0 #e75a10, 3em 4em 0 #e75a10, 4em 4em 0 #e75a10, 1em 5em 0 #e75a10, 2em 5em 0 #e75a10, 3em 5em 0 #e75a10, 1em 6em 0 #e75a10, 2em 6em 0 #e75a10;
}


div {
  transform: none;
  transition: all 0s ease 0s;
  box-sizing: border-box;
}

section {
  /* Font & Text */
  font-size: 16px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  letter-spacing: normal;
  line-height: 24px;
  text-decoration: none solid rgb(33, 37, 41);
  text-align: left;
  text-indent: 0px;
  text-transform: none;
  display: flex;
  /* vertical-align: baseline; */
  white-space: normal;
  word-spacing: 0px;

  /* Color & Background */
  background-attachment: scroll;
  background-color: rgba(234, 224, 224, 0);
  background-image: none;
  background-position: 0% 0%;
  background-repeat: repeat;
  color: rgb(33, 37, 41);

  /* Box */
  height: 91.2031px;
  width: 980px;

  /* justify-content: center; */
  margin: 0px;
  padding: 24px 32px 40px;
  max-height: none;
  min-height: 0px;
  max-width: none;
  min-width: 0px;

  /* Positioning */
  position: relative;
  top: 0px;
  caption-side: top;
  empty-cells: show;
  table-layout: auto;

  /* Miscellaneous */
  overflow: visible;
  visibility: visible;

  /* Effects */
  transform: none;
  transition: all 0s ease 0s;
  outline-offset: 0px;
  box-sizing: border-box;
  resize: none;
  text-shadow: none;
  text-overflow: clip;
  word-wrap: normal;
  box-shadow: none;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}